In [4923]:
import pandas as pd
import numpy as np

In [4924]:
data = pd.read_csv('../data/attacks.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [4925]:
pd.set_option('display.max_columns', None)

data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4926]:
data.shape

(25723, 24)

In [4927]:
data.drop_duplicates().shape == data.shape

False

In [4928]:
data.drop_duplicates(inplace=True)

In [4929]:
data.shape

(6312, 24)

In [4930]:
porcent_null = (data.isnull().sum(axis = 1) / data.shape[1]) * 100  # se suman los nulos por las filas y esa suma se divide entre el numero total de columnas del dataframe, para obtener el porcentaje de valores nulos en cada fila 
porcent_bool = porcent_null > 75        # si el valor de una fila es True, significa que mas del 75% de valores de esa fila son nulos
data = data.loc[~porcent_bool, :]       # seleccionamos con loc las filas que no tengan mas del 75% de nulos invirtiendo 'porcent_bool' con '~', y todas las columnas con ':'

In [4931]:
data.shape

(6302, 24)

In [4932]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores
data.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [4933]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

In [4934]:
# Creo un diccionario con los valores a reemplazar y el valor nuevo
reempl = {'Boat': 'Boating', 'Boatomg': 'Boating'}

# Reemplazo los valores en la columna "Type"
data['Type'] = data['Type'].replace(reempl)

In [4935]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Questionable       2
Name: count, dtype: int64

In [4936]:
valor = 'Questionable'
filas_coincidentes = data[data['Type'] == valor].index          # filtrar por indice
data_seleccionado = data.loc[filas_coincidentes, ['Activity', 'Injury', 'Species ']]

data_seleccionado.head()

   Activity                        Injury                         Species
16  Surfing  No injury, surfboard damaged  Shark involvement not confirmed
20  Surfing                     No injury                     Questionable

In [4937]:
data = data.drop([16, 20])

In [4938]:
data = data.reset_index(drop = True)    # aqui reseteamos los indices y ponemos la condicion 'drop = True', para borrar los indices anteriores

In [4939]:
data['Type'].value_counts()

Type
Unprovoked      4595
Provoked         574
Invalid          547
Boating          341
Sea Disaster     239
Name: count, dtype: int64

In [4940]:
#valor2 = 'Invalid'
#filas_coincidentes2 = data[data['Type'] == valor2].index          # filtrar por indice
#data_seleccionado2 = data.loc[filas_coincidentes2, ['Activity', 'Injury', 'Species ']]

#data_seleccionado2.head(10)

In [4941]:
def limpiar_type(x):

    if pd.isnull(x):        # si es nulo lo convierte a x
        return x
    elif 'Unprovoked' in x:
        return 'Unprovoked'
    elif 'Provoked' in x:
        return 'Provoked'
    else:
        return 'Unprovoked'

In [4942]:
data.Type = data.Type.apply(limpiar_type)   # le aplicamos la funcion a la columna
data['Type'].value_counts()

Type
Unprovoked    5722
Provoked       574
Name: count, dtype: int64

In [4943]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4944]:
data['Sex '].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [4945]:
data.rename(columns = {'Sex ': 'Sex'}, inplace=True)    #renombrar una columna

In [4946]:
data['Sex'].value_counts()

Sex
M      5092
F       637
M         2
N         2
lli       1
.         1
Name: count, dtype: int64

In [4947]:
#valor3 = '.'
#filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
#data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado3

In [4948]:
#data.loc[5435]

In [4949]:
def limpiar_sex(x):

    if pd.isnull(x):
        return x
    elif 'M' in x:
        return 'Male'
    elif 'F' in x:
        return 'Female'
    else:
        return 'Unknown'

In [4950]:
data.Sex = data.Sex.apply(limpiar_sex)
data['Sex'].value_counts()

Sex
Male       5094
Female      637
Unknown       4
Name: count, dtype: int64

In [4951]:
#valor3 = 'Unknown'
#filas_coincidentes3 = data[data['Sex'] == valor3].index          # filtrar por indice
#data_seleccionado3 = data.loc[filas_coincidentes3, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado3

In [4952]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4953]:
data['Fatal (Y/N)'].value_counts()

Fatal (Y/N)
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [4954]:
#valor4 = 'N '
#filas_coincidentes4 = data[data['Fatal (Y/N)'] == valor4].index          # filtrar por indice
#data_seleccionado4 = data.loc[filas_coincidentes4, ['Activity', 'Injury', 'Species ', 'Name']]

#data_seleccionado4

In [4955]:
#data.loc[784]

In [4956]:
data.rename(columns = {'Fatal (Y/N)': 'Fatal'}, inplace=True)

In [4957]:
data['Fatal'].value_counts()

Fatal
N          4291
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

In [4958]:
def limpiar_fatal(x):
    x = str(x).lower().strip()     # convertimos todo en str, lo pasamos a minusculas y quitamos los espacios que tengan tanto por der como por izq
    if x == 'y':
        return 'Yes'
    elif x == 'n':
        return 'No'
    else:
        return 'Unknown'

In [4959]:
data['Fatal'] = data['Fatal'].apply(limpiar_fatal)

In [4960]:
data['Fatal'].value_counts()

Fatal
No         4299
Yes        1389
Unknown     612
Name: count, dtype: int64

In [4961]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4962]:
#pd.unique(data['Year'])

In [4963]:
data.Year.value_counts().head()

Year
2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
Name: count, dtype: int64

In [4964]:
def limpiar_year(fecha):
    if pd.isna(fecha):
        return 0
    elif len(str(int(fecha))) == 4:
        return fecha
    else:
        return 0

In [4965]:
data['Year'] = data['Year'].apply(limpiar_year)

In [4966]:
#pd.unique(data['Year'])

In [4967]:
data['Year'] = data['Year'].astype(int)

In [4968]:
data['Year'] = data['Year'].replace(0, 'Unknown')

In [4969]:
#pd.unique(data['Year'])

In [4970]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,NaN,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4971]:
#data['Country'].value_counts()

In [4972]:
#pd.unique(data.Country)

In [4973]:
#data.insert(5, 'Region', '')

In [4974]:
import re

def limpiar_country(pais):
    if re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA|DIEGO|BETWEEN)\b', pais, re.IGNORECASE):
        return 'UNKNOWN'
    else:
        return pais


# Para crear region con los oceanos

#def limpiar_country(row):
#    if isinstance(row['Country'], str) and re.search(r'\b(OCEAN|SEA|PACIFIC|AFRICA|ASIA)\b', row['Country'], re.IGNORECASE):
#        return pd.Series({'Country': 'UNKNOWN', 'Region': row['Country']})
#    else:
#        return pd.Series({'Country': row['Country'], 'Region': row['Region']})

In [4975]:
# Convierte todo en mayúsculas y rellena nulos con 'UNKNOWN'
data['Country'] = data['Country'].str.upper().str.strip().fillna('UNKNOWN')

#data['Region'] = data['Region'].str.upper().str.strip().fillna('UNKNOWN')

# Elimina espacios y signos de interrogación de los nombres de los países
data['Country'] = data['Country'].str.replace(r'?', '').str.strip()
data['Country'] = data['Country'].str.replace(r'&', '/')

#data['Region'] = data['Region'].str.replace(r'?', '').str.strip()

# Modificaciones puntuales
data['Country'] = data['Country'].str.replace('ISLANDAS', 'ISLANDS')
data['Country'] = data['Country'].str.replace('(UAE)', '').str.strip()
data['Country'] = data['Country'].str.replace('(SRI LANKA)', '').str.strip()
data['Country'] = data['Country'].str.replace('DIEGO GARCIA', 'UNKNOWN')
data['Country'] = data['Country'].str.replace('BETWEEN PORTUGAL / INDIA', 'UNKNOWN')

#data['Region'] = data['Region'].str.replace('', 'UNKNOWN')

In [4976]:
data['Country'] = data['Country'].apply(limpiar_country)

# Para aplicar la funcion de region

#columns_to_clean = ['Country', 'Region']
#data[columns_to_clean] = data[columns_to_clean].apply(limpiar_country, axis=1)

# Rellenar los valores NaN en la columna "Region" con una cadena vacía
#data['Region'] = data['Region'].fillna('')

In [4977]:
#pd.unique(data.Country)

In [4978]:
#data['Country'].value_counts()

In [4979]:
#data.head()

In [4980]:
data.shape

(6300, 24)

In [4981]:
data.Age.value_counts()

Age
17          154
18          150
19          142
20          141
15          139
           ...
32 & 30       1
60's          1
20?           1
 28           1
13 or 14      1
Name: count, Length: 155, dtype: int64

In [4982]:
pd.unique(data.Age)

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', ' ', '30 or 36', '21 & ?', '75', '33 or 37',
       'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28', '20?',
       "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       'A.M.', '?    &   14', '10 or 12', '31 or 33', '2', '13 or 14'],
      dtype=object)

In [4983]:
def limpiar_age(edad):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(edad):
        return 'Unknown'
    
    # Si la edad contiene un rango, calcular la edad media del rango
    if 'or' in edad:
        edades = re.findall(r'\d+', edad)
        media = (int(edades[0]) + int(edades[1])) / 2
        return int(media)
    
    # Si la edad contiene un rango, calcular la edad media del rango
    if 'to' in edad:
        edades = re.findall(r'\d+', edad)
        media = (int(edades[0]) + int(edades[1])) / 2
        return int(media)
    
    # Si la edad contiene la palabra "months", convertir a años
    if 'month' in edad:
        meses = re.findall(r'\d+', edad)
        return int(int(meses[0]) / 12)
    
    # Convertir strings completamente en palabras a 'Unknown'
    if not re.match(r'^\d+|\d+\.\d+$', edad):
        return 'Unknown'

    # Reemplazar comillas, signos de interrogación por nada
    edad = re.sub(r'[\'"\?]', '', edad)

    # Reemplazar letras por nada
    edad = re.sub(r'[a-zA-Z]', '', edad)

    return edad

In [4984]:
# Aplicar la función "limpiar_edad" a la columna "Age" del marco de datos
data['Age'] = data['Age'].apply(limpiar_age)

data['Age'] = data['Age'].astype(str)

In [4985]:
# Modificaciones puntuales
data['Age'] = data['Age'].str.replace('21 & ', '21 & Unknown')
data['Age'] = data['Age'].str.replace('7      &    31', '7 & 31')
data['Age'] = data['Age'].str.replace('37, 67, 35, 27,   & 27', '37, 67, 35, 27, Unknown & 27')
data['Age'] = data['Age'].str.replace('21, 34,24 & 35', '21, 34, 24 & 35')

In [4986]:
#data.Age.value_counts()

In [4987]:
#pd.unique(data.Age)

In [4988]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",No,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,Female,11,Minor injury to left thigh,No,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Unprovoked,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,No,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,Unknown,Minor injury to lower leg,No,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,No,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4989]:
data['Time'].value_counts()

Time
Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
00h30            1
14h37            1
10h07            1
13h53            1
19h00-20h00      1
Name: count, Length: 365, dtype: int64

In [4990]:
pd.unique(data['Time'])

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h40', '16h50',
       '09h30', 'Afternoon', '21h50', '09h40', '08h00', '17h35', '15h30',
       '07h30', '19h00, Dusk', 'Night', '16h00', '15h01', '12h00',
       '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30',
       '18h45', '06h00', '10h00', '10h44', '10h30', '13h19', 'Midday',
       '13h30', '10h45', '11h20', '11h45', '19h30', '08h30', '15h45',
       'Shortly before 12h00', '17h34', '17h10', '11h15', '08h50',
       '17h45', '13h00', '10h20', '13h20', '07h00', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [4999]:
def limpiar_time(hora):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(hora):
        return 'Unknown'
    
    # Eliminar espacios en blanco al final del string y convertir strings completamente en palabras a 'Unknown'
    hora = hora.strip()
    if not re.match(r'^\d+|\d+\.\d+$', hora):
        return 'Unknown'

    # Reemplazar '--' por '/' en el formato 'xxhxx/xxhxx'
    hora = hora.replace('--', '/')

    # Reemplazar ' ' por '/' en el formato 'xxhxx/xxhxx'
    hora = hora.replace('  ', ' / ')

    # Eliminar todo después de un guión o una barra, y convertir a formato 'xxhxx'
    hora = re.sub(r'(-|\/).*', '', hora)
    hora = re.sub(r'\D', '', hora)
    if len(hora) == 3:
        hora = f"{hora[:1]}h{hora[1:]:02}"
    elif len(hora) == 4:
        hora = f"{hora[:2]}h{hora[2:]:02}"
    else:
        hora = 'Unknown'

    return hora

In [5000]:
data["Time"] = data["Time"].apply(limpiar_time)

In [5002]:
#pd.unique(data['Time'])

array(['18h00', '14h00', '07h45', 'Unknown', '17h00', '15h00', '08h15',
       '11h00', '10h40', '16h50', '09h30', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00', '16h00', '15h01', '12h00',
       '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30',
       '18h45', '06h00', '10h00', '10h44', '10h30', '13h19', '13h30',
       '10h45', '11h20', '11h45', '19h30', '08h30', '15h45', '17h34',
       '17h10', '11h15', '08h50', '17h45', '13h00', '10h20', '13h20',
       '07h00', '02h00', '09h50', '11h30', '17h30', '9h00', '10h43',
       '15h15', '15h40', '19h05', '22h00', '16h20', '14h34', '15h25',
       '14h55', '17h46', '15h49', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '16h45', '15h52', '06h15', '14h40',
       '19h45', '10h10', '08h45', '12h10', '18h05', '11h41', '12h25',
       '17h51', '16h12', '12h45', '10h50', '14h15', '09h45', '06h45',
       '05h00', '03h30', '06h30', '17h20', '20h00', '16h40', '16h18',
       '11h10', '17h50', '17h01', '09h57', '08h20', '17h58', '20h30',
       '15h19', '10h55', '15h55', '23h00', '12h40', '13h55', '16h05',
       '14h10', '15h20', '12h50', '14h45', '13h40', '13h24', '11h40',
       '08h10', '15h56', '14h20', '07h56', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       '05h45', '13h25', '12h20', '13h26', '09h11', '12h15', '13h15',
       '18h20', '15h35', '13h51', '08h05', '19h15', '10h35', '15h44',
       '21h00', '09h35', '10h27', '10h16', '09h20', '12h05', '14h21',
       '18h50', '15h53', '13h42', '20h15', '12h39', '07h05', '13h05',
       '11h50', '17h55', '22h30', '17h15', '16h10', '06h10', '16h15',
       '07h08', '03h00', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '11h55', '13h23', '02h30', '08h40',
       '11h56', '14h35', '07h50', '14h25', '06h47', '20h45', '18h40',
       '13h14', '13h06', '12h34', '11h53', '8h04', '12h46', '12h48',
       '17h42', '12h35', '11h57', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '15h05', '11h48', '07h19', '13h37',
       '11h06', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33',
       '15h06', '12h54', '16h55', '05h40', '21h30', '08h57', '08h35',
       '10h22', '02h45', '18h10', '08h55', '06h50', '01h00', '07h32',
       '03h45', '13h10', '19h35', '13h35', '01h32', '16h23', '19h10',
       '16h25', '11h01', '19h55', '01h30', '05h30', '08h58', '01h50'],
      dtype=object)

In [5003]:
#data['Time'].value_counts()

Time
Unknown    3955
11h00       129
15h00       110
12h00       109
16h00       103
           ...
10h16         1
10h27         1
15h44         1
13h51         1
01h50         1
Name: count, Length: 245, dtype: int64

In [1]:
data.head()

NameError: name 'data' is not defined

In [ ]:
data['Area'].value_counts()

In [ ]:
pd.unique(data['Area'])

In [ ]:
def limpiar_area(zona):
       
    # Reemplazar los NaN por 'Unknown'
    if pd.isna(zona):
        return 'Unknown'
    return zona

In [ ]:
data["Area"] = data["Area"].apply(limpiar_area)

In [ ]:
pd.unique(data.Area)